node_modules
# Keep environment variables out of version control
.env
.dist
dist

/src/generated/prisma
steamwebapi json data/
steamwebapi-json-data/

# SQLite local
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal

storage/